node_modules/
.env
.env.*
!.env.example
dist/
build/
.DS_Store
coverage/
.serverless/
*.log

# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json